/* Write your custom CSS here */

/* Sibebar Submenu */
.sidebar-menu>li>ul.sub-menu {
    display:none;
}

.sidebar-menu>li.active>ul.sub-menu,.sidebar-menu>li>ul.sub-menua {
    display:block;
}

/* Enquiry Leads List */
.demo-list-control {
  width: 300px;
}

.demo-list-radio {
  display: inline;
}

/* alert box */
.alert-color{
  background-color:#FFEBEE;
}

.icon_style{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: red;
    cursor:pointer;
}
